body {
	background: url(../images/plants-vs-zombies-bg.jpg);
}
.subheader{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.wrapper{
  	position: relative;
	width: 90%;
	margin: 0 auto;
}
.row{
  	position: relative;
	width: 850px;
	margin: 0 auto;
}
.choose-hero {
	text-align: center;
	z-index: 1;
	float: left;
	color: white;
}
.character{
	width:150px;
	height:150px;
	float:left;
}
.choose-hero img {
	position: relative;
	z-index: -1;
}
.attack-report,
.counter-report {
	font-size: 18px;
	color: white;
}
.result {
	font-size: 18px;
	color: white;
}